/* styles.css */
body {
     font-family: 'Arial', sans-serif;
     background: linear-gradient(to right, #fbc2eb, #a6c1ee);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     user-select: none; /* Tüm sayfada seçim yapılamaz */
 }
 
 .content {
     background: rgba(255, 255, 255, 0.8);
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     text-align: center;
     -webkit-user-select: none; /* Safari ve Chrome */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Standart */
 }
 
 h1 {
     font-size: 2rem;
     color: #333;
 }
 
 p {
     font-size: 1.2rem;
     color: #666;
 }
 